.container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 64px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'header header'
        'sidenav main';
    height: 100%;
    width: 100%;
}

.header {
    grid-area: header;
    background-color: #f8f9fa;
    padding: 20px;
}

.sidenav {
    grid-area: sidenav;
    background-color: #f8f9fa;
    padding: 20px;
}

.main {
    grid-area: main;
    background-color: #f8f9fa;
    padding: 20px;
}

.react-flow__panel {
    padding: 5px 10px;
    background: white;
    box-shadow:
        rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.text-updater-node {
    height: 50px;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
    background: white;
}

.text-updater-node label {
    display: block;
    color: #777;
    font-size: 12px;
}
