@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme) prefix(tw) important;
@import 'tailwindcss/utilities.css' layer(utilities) prefix(tw) important;

@source "../../../../libs/shared/src/components";

@theme inline {
    --color-spice-highlight: var(--spice-highlight);
    --color-spice-error: var(--spice-notification-error);
    --color-spice-text: var(--spice-text);
    --color-spice-subtext: var(--spice-subtext);
    --color-spice-sidebar: var(--spice-sidebar);
    --color-spice-main: var(--spice-main);
    --color-spice-tab-active: var(--spice-tab-active);
    --color-spice-highlight-elevated: var(--spice-highlight-elevated);
    --color-spice-highlight-elevated-hover: hsl(
        from rgb(var(--spice-rgb-highlight-elevated)) h s calc(l + 12)
    );
    --color-spice-main-elevated: var(--spice-main-elevated);
    --color-spice-button: var(--spice-button);
    --color-spice-button-transparent: rgb(from var(--spice-button) r g b / 0.5);
}

@utility gap-panel {
    gap: var(--panel-gap);
}

@layer components {
    .app-container {
        @apply tw:bg-spice-sidebar tw:absolute tw:top-0 tw:right-0 tw:bottom-0 tw:left-0;
    }

    .panel {
        @apply tw:bg-spice-main tw:rounded-lg;
    }
}

@layer base {
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='date']::-webkit-calendar-picker-indicator {
        background-color: var(--spice-text);
        -webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNhbGVuZGFyLWljb24gbHVjaWRlLWNhbGVuZGFyIj48cGF0aCBkPSJNOCAydjQiLz48cGF0aCBkPSJNMTYgMnY0Ii8+PHJlY3Qgd2lkdGg9IjE4IiBoZWlnaHQ9IjE4IiB4PSIzIiB5PSI0IiByeD0iMiIvPjxwYXRoIGQ9Ik0zIDEwaDE4Ii8+PC9zdmc+');
        mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNhbGVuZGFyLWljb24gbHVjaWRlLWNhbGVuZGFyIj48cGF0aCBkPSJNOCAydjQiLz48cGF0aCBkPSJNMTYgMnY0Ii8+PHJlY3Qgd2lkdGg9IjE4IiBoZWlnaHQ9IjE4IiB4PSIzIiB5PSI0IiByeD0iMiIvPjxwYXRoIGQ9Ik0zIDEwaDE4Ii8+PC9zdmc+');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
        cursor: pointer;
    }

    main:has(#playlist-maker) {
        position: initial !important;
    }
}

::highlight(search) {
    background-color: var(--spice-notification);
    color: var(--spice-text);
}
