.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.fieldset {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
        display: block;
    }
}
