.node-header {
    background-color: cornflowerblue;
    color: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 8px;
}

.node-content {
    padding: 8px;
}
