.node-content {
    display: flex;
    flex-direction: column;

    label {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
}
