.container {
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: min-content minmax(100px, auto) min-content;
    grid-template-areas:
        '. title button'
        '. content .'
        'stats stats stats';
    height: 100%;
}

.area-title {
    grid-area: title;
}

.area-button {
    grid-area: button;
}

.area-content {
    grid-area: content;
}

.area-stats {
    grid-area: stats;
}
