.container {
    height: 100%;

    /* sm */
    display: flex;
    flex-direction: column;

    /* >= xl */
    @media (width >= 80rem) {
        display: grid;
        grid-template-columns: 0% 80% 20%;
        grid-template-rows: minmax(100px, auto);
        grid-template-areas: '. content side';
    }

    /* >= 2xl */
    @media (width >= 96rem) {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: minmax(100px, auto);
        grid-template-areas: '. content side';
    }
}

.area-content {
    grid-area: content;
}

.area-side {
    grid-area: side;
}
