.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 64px 1fr;
    grid-template-areas:
        'padding padding'
        'sidenav main';
}

.padding {
    grid-area: padding;
}

.sidenav {
    grid-area: sidenav;
}

.main {
    grid-area: main;
}
