.container {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    color: var(--spice-text);
    padding: var(--content-spacing);

    .image-container {
        border: 2px var(--spice-text) solid;
        border-radius: 8px;
        width: 232px;
        height: 232px;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-inline-end: 24px;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;

        h1 {
            font-weight: 900;
            font-size: 6rem;
        }
    }
}
