// Root

.stretch-container,
.center-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.stretch-container {
    justify-content: stretch;
    align-items: stretch;
}

.center-container {
    justify-content: center;
    align-items: center;
}

.full-size-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

// Shared

.pad-top {
    padding-top: 64px;
}

.card-grid {
    --minimumColumnWidth: 180px;
    --column-width: minmax(var(--minimumColumnWidth), 1fr);
    --column-count: auto-fill;
    --grid-gap: 24px;

    .main-card-card {
        cursor: pointer;
        height: 100%;
        border-radius: 6.3px;
    }
}

.text-subdued {
    color: var(--text-subdued);
}

.details-page-header {
    align-items: center;
    color: var(--spice-text);
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    h1 {
        margin-top: 0;
        font-size: 1.5rem;
        font-weight: 700;
    }
}

.controls {
    -webkit-box-flex: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    gap: 8px;
    justify-content: flex-end;
}

.flex-centered {
    display: flex;
    align-items: center;
}

.limit-lines-2 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.text-full-centered {
    text-align: center;
    width: 100%;
}
