.container {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
}

.padded {
    padding: var(--content-spacing);
}

.header {
    display: flex;
    flex-direction: row;
    color: var(--spice-text);
    padding-bottom: 0;

    .image-container {
        //border: 2px var(--spice-text) solid;
        border: none;
        border-radius: 8px;
        background-color: #202f72;
        width: 232px;
        height: 232px;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-inline-end: 24px;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;

        h1 {
            font-weight: 900;
            font-size: 6rem;
        }
    }
}

.action-bar {
    display: flex;
    direction: row;
    justify-content: space-between;

    .play-button {
        background-color: var(--spice-button-active);
        border-radius: 30px;
        height: 60px;
        width: 60px;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            transform: scale(1.04);
        }
    }

    .search-container {
        input {
            border-style: none;
        }

        .search-button {
            display: flex;
            justify-content: center;
            align-items: center;

            color: var(--spice-text);
            background-color: transparent;

            padding: 8px;
            border-radius: 8px;
            border-style: none;

            &:hover {
                background-color: var(--spice-main-secondary);
                cursor: pointer;
            }
        }
    }
}

.tabBar {
    ul {
        display: flex;
        flex-direction: row;

        li {
            pointer-events: auto;

            button {
                border-radius: 4px;
                border-style: none;
                color: var(--spice-text);
                background-color: transparent;
                margin: 0 8px 0 0;
                padding: 8px 16px;
                cursor: pointer;

                &.active {
                    background-color: var(--spice-tab-active);
                    border-radius: 4px;
                }
            }
        }
    }
}
