.settings-button {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--spice-subtext);
    background-color: var(--spice-sidebar);

    border: none;

    &:hover {
        transition: background-color 0.5s ease;
        background-color: var(--spice-button-disabled);
        cursor: pointer;
    }
}
