.settings-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: calc(100dvh - 250px);

    .reset-button-container {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
