.sidebar {
    h1 {
        font-size: 1.5rem;

        &:not(:first-child) {
            margin-top: 8px;
        }
    }

    li {
        button {
            background-color: transparent;
            border-style: none;
            padding-top: 8px;
            padding-bottom: 8px;
            width: 100%;
            text-align: start;
            cursor: grab;

            &:hover {
                background-color: var(--spice-highlight);
            }
        }

        span {
            font-size: 1rem;
        }
    }

    hr {
        border: 0;
        border-top: thin solid;
        opacity: 0.6;
    }
}
