.number-input {
    width: 100%;
    background-color: var(--spice-tab-active);
    border-radius: 4px;
    border-style: none;
    border-width: 0;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
