.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.empty-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;

    span {
        flex-grow: 1;
        flex-basis: 0;
        text-align: center;
    }
}

.jukebox-graph {
    .edge-path {
        stroke-opacity: 0.7;

        &:hover {
            stroke-opacity: 1;
        }
    }
}
